body,html{
    height: 100%;
    width: 100%;
    margin: 0px;
}
#content,#grid{
    display: flex;
    justify-content: center;
    align-items: center;
}
#content{
    height: 100%;
}
#grid{
    border: solid black 3px;
    width: 50vw;
    height: 50vh;
}